@font-face {
  font-family: "forte";
  src: url(../fonts/ForteRegular.ttf);
  font-style: normal;
}

#title_registration span {
  background-image: linear-gradient(to left, #ffac4b, #f0a6ff, #ff708e, #8fccff, #a5ff6f, #f5df68, #d18fff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

#title_dashboard {
  font-family: forte;
  font-size: 120px;
  text-align: center;
  padding-top: 8%;
}

body {
  background-color: #fbf5e1 !important;
}

#username-label {
  color: skyblue;
  font-weight: bold;
  text-align: left;
  font-size: x-large;
  margin-left: 35%;
  position: relative;
}

#password-label {
  color: skyblue;
  font-weight: bold;
  text-align: left;
  font-size: x-large;
  margin-left: 35.5%;
  position: relative;
}

#inputEmail {
  border-color: skyblue;
}

#inputUsername {
  border-color: skyblue;
}

#inputPassword {
  border-color: skyblue;
}

#verifyPassword {
  border-color: skyblue;
}

.update-button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  color: #fff;
  background-color: #22e629;
  border: none;
  border-radius: 15px;
  align-content: center;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  margin-top: 2%;
  margin-left: 48%;
  position: static;
}

#create {
  display: block;
  padding: 14px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  color: #fff;
  background-color: skyblue;
  border: none;
  border-radius: 15px; 
  align-content: center;
  text-align: center;
  margin-top: 10%;
  margin-left: 0%;
}

#join {
  display: block;
  padding: 14px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  color: #fff;
  background-color: skyblue;
  border: none;
  border-radius: 15px; 
  align-content: center;
  text-align: center;
  margin-top: 10%;
}

#edit-user-profile {
  display: block;
  padding: 14px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  color: #fff;
  background-color: skyblue;
  border: none;
  border-radius: 15px; 
  align-content: center;
  text-align: center;
  margin-top: 10%;
  
}

#edit-user-profile:hover {
  background-color: rgb(60, 164, 206);
}

#create:hover {
  background-color: rgb(60, 164, 206);
}

#join:hover {
  background-color: rgb(60, 164, 206);
}

#update-profile {
  padding-left: 15%;
}

#update-profile .update-button {
  margin-left: 70%;
  font-size: large;
  font-weight: bold;
}

#register:hover {
  background-color: rgb(60, 164, 206);
}

#game-played-table { 
  border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}