<div class="container">
    <div style="display: none;">
        <p id="userName">{{user.userName}}</p>
        <p id="gameID">{{gameID}}</p>
    </div>

    <div class="row" id="column-1">
        <div class="row" id="game-app">

        </div>
        <div class="col-12" id="gameBtns">
            <button onclick="intiateSwap()" id="intiateSwapBtn">Swap Tiles</button>
            <button onclick="swapTiles()" id="swapTilesBtn">Confirm Swap</button>
            <button onclick="endTurn()" id="endTurnBtn">End Turn</button>
            <button onclick="noMoreMoves()" id="endTurnBtn">Cannot Place Tile</button>
            <!--<button onclick="getTileAtRandom()">Get Tile</button>>-->
        </div>
    </div>
    
        <div class="col-12" id="title-gamepage">
            <span style='color: #ff708e'>Q</span><span style='color: #ffac4b'>w</span><span
                style='color: #f5df68'>i</span><span style='color: #a5ff6f'>r</span><span
                style='color: #8fccff'>k</span><span style='color: #d18fff'>l</span><span
                style='color: #ff708e'>e</span>
        </div>
        <div class="col-12" id="gInvite">
            <h2
                style="font-family: Comic Sans MS, Comic Sans, cursive; font-weight: bold; color: green; font-style:italic">
                Game Invite:</h2>
            <a id="copy-invite-button" href="">{{user.userName}}'s Game</a><button onclick="CopyToClipboard()"
                id="copyBtn">Copy Invite</button>
        </div>
        <div id="gPList">
            <h2
                style="font-family: Comic Sans MS, Comic Sans, cursive; font-weight: bold; color: green; font-style:italic">
                Player List: </h2>
            <table id="player-table">
                <tr>
                    <td id="player-1"><span>Player 1</span></td>
                    <td id="player-1S">Not Ready</td>
                </tr>
                <tr>
                    <td id="player-2"></td>
                    <td id="player-2S">No Player</td>
                </tr>
                <tr>
                    <td id="player-3"></td>
                    <td id="player-3S">No Player</td>
                </tr>
                <tr>
                    <td id="player-4"></td>
                    <td id="player-4S">No Player</td>
                </tr>
            </table>
        </div>
        <div id="startBtns">
            <button onclick="ready()" id="readyBtn">Ready</button>
            <!--<button onclick="getTileAtRandom()">Get Tile</button>>-->
            <button onclick="startGame()" id="startBtn">Start Game</button>
        </div>
</div>

<!--<script src="path/to/pixijs-grid.js"></script>-->
<script src="https://pixijs.download/release/pixi.js"></script>
<script src="/js/pixijs-grid.js"></script>
<script src="/js/pixi-view.js"></script>
<script src="/js/pixi-scroll.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/js/gameFunctions.js"></script>
<script src="/js/game.js"></script>