<div class="container">
    <div class="row">
        <div class="col" id="title_homepage">
            <h1>Welcome Back {{name}}</h1>
        </div>
    </div>

    <form action "">
                <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" id="login">Create a Game</button>
                <button type="submit" class="btn btn-primary" id="login">Join a Game</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col" id="games_table">
            <h2>Your Recent Games</h2>
        </div>
    </div>

</div>