<div class="container">
    <div class="row">
        <div class="col" id="title_homepage">
            <h1>Qwirkle</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="#" role="button">Login</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="/registration" role="button">Register</a>
        </div>
    </div>
</div>