<div class="container">
    <div class="row">
        <div class="col" id="title_homepage">
            <span style='color: #ff708e'>Q</span><span style='color: #ffac4b'>w</span><span style='color: #f5df68'>i</span><span style='color: #a5ff6f'>r</span><span style='color: #8fccff'>k</span><span style='color: #d18fff'>l</span><span style='color: #ff708e'>e</span>
        </div>
    </div>

    <div class="row">
        {{#if user}}
             <div class="col">
                <a class="btn btn-primary" href="/logout" role="button" id="logout">LOG-OUT</a>
            </div>
        {{else}}
            <div class="col">
                <a class="btn btn-primary" href="/login" role="button" id="login">LOG-IN</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="/registration" role="button" id="register">REGISTER</a>
            </div>
        {{/if}}
    </div>
</div>