@font-face {
    font-family: 'forte';
    src: url(../fonts/ForteRegular.ttf);
    font-style: normal;
}

#title_homepage {
    font-family: forte;
    font-size: 120px;
    text-align: center;
    padding-top: 15%;
}

body {
    background-color: #fbf5e1 !important;
}

#login {
    display: inline-block;
    padding: 12px 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    color: #fff;
    background-color: #22e629;
    border: none;
    border-radius: 15px; 
}

.col {
    text-align: center;
}

#register {
    display: inline-block;
    padding: 12px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #22e629;
    border: none;
    border-radius: 15px; 
    font-weight: bold;
}

#login:hover {background-color: green}
#register:hover {background-color: green}
