@font-face {
    font-family: 'forte';
    src: url(../fonts/ForteRegular.ttf);
    font-style: normal;
}

#title_login {
    font-family: forte;
    font-size: 120px;
    text-align: center;
    padding-top: 12%;
}

body {
    background-color: #fbf5e1 !important;
}

#login {
    display: inline-block;
    padding: 10px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    color: #fff;
    background-color: skyblue;
    border: none;
    border-radius: 15px; 
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    margin-top: 2%;
    margin-left:48%;
    position:static;
}

#login:hover {
    background-color: rgb(60, 164, 206);
}

#email-label {
    color:skyblue;
    font-weight: bold;
    text-align: left;
    font-size: x-large;
    margin-left: 30%;
    position:relative;
}

#pwd-label {
    color:skyblue;
    font-weight: bold;
    text-align: left;
    font-size: x-large;
    margin-left: 30%;
    position:relative;
}

#email {
    border-color: skyblue;
}

#inputPassword {
    border-color: skyblue;
}